@keyframes slide-in {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(-100%);
    }
  }
  .moving-message {
    font-size: 18px;
    color: #c01818;
    padding: 8px;
    position: relative;
    animation: slide-in 15s linear infinite;
  }